@page
@model Razor_App.Pages.SignIn.Employee.EmployeeSignInModel

<h1 class="font-gold text-center margin-1">Restaurator</h1>

<div class="description font-white text-center">
    <p>Professional restaurant manage tool.</p>
    <span>Sign up to discover!</span>
</div>

<form action=""></form>